<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instawhat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".gui.ContactosActivity" />

        <activity android:name=".gui.PublicarFoto"></activity>
        <activity android:name=".gui.AgregarContactoActivity"/>
        <activity android:name=".gui.EditarPerfil" />
        <activity android:name=".gui.EditorEstado" />
        <activity android:name=".gui.EditarFoto" />
        <activity android:name=".gui.NipValidacion" />
        <activity android:name=".gui.Registro" />
        <activity android:name=".gui.MainMenu" />
        <activity android:name=".gui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>